.custom .btn-consultation, .principal .container .container-text .btn {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.custom .btn-consultation:hover, .principal .container .container-text .btn:hover {
  color: #6247ea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  background-color: #fafcff;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 80px;
  margin: auto 0;
  position: fixed;
  background-color: #fafcff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header .logo-img {
  width: 100%;
  max-width: 150px;
  cursor: pointer;
  padding-top: 8px;
}
.header .nav-bar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.header .nav-bar .nav-item {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  transition: 0.3s;
}
.header .nav-bar .nav-item:hover {
  color: #6247ea;
}
.header #menu-hamb {
  display: none;
}
.header #nav-bar-cel {
  text-align: center;
  background-color: #fafcff;
  padding: 10px 0;
  display: none;
}
.header #nav-bar-cel ul {
  list-style: none;
}
.header #nav-bar-cel ul li {
  margin-top: 15px;
}
.header #nav-bar-cel ul li .nav-item-cel {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  transition: 0.3s;
}

.principal {
  width: 100%;
  height: 90vh;
  background-color: #6247ea;
  padding-top: 100px;
}
.principal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 60px;
  flex-wrap: wrap;
}
.principal .container .container-text {
  margin-top: 100px;
}
.principal .container .container-text h2 {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}
.principal .container .container-text p {
  color: #fff;
  margin-top: 20px;
  font-weight: 100px;
}
.principal .container .container-text .btn {
  margin-top: 40px;
  background-color: #ec9d5f;
}
.principal .container .container-img {
  margin-top: 250px;
}

.features {
  margin-bottom: 100px;
}

.text-features {
  width: 100%;
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
}
.text-features h2 {
  font-size: 40px;
}
.text-features p {
  margin-top: 20px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 280px));
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}
.grid .grid-container {
  border: 1px solid lightgray;
  padding: 60px 30px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.grid .grid-container:hover {
  background-color: #fff;
}
.grid .grid-container p {
  margin-top: 20px;
}

.grid-plans {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 303px));
  justify-content: center;
}
.grid-plans .grid-container {
  border: 1px solid lightgray;
  border-top: 2px solid #fff;
  padding: 60px 30px;
  border-radius: 5px;
  background-color: #fff;
}
.grid-plans .grid-container p {
  margin-top: 10px;
  color: rgb(140, 140, 140);
}
.grid-plans .grid-container:hover {
  border-top: 2px solid #6247ea;
}
.grid-plans .grid-container:hover span {
  color: #6247ea;
}
.grid-plans .grid-container .price {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.grid-plans .grid-container .atributes {
  margin-top: 30px;
}
.grid-plans .grid-container a {
  text-decoration: none;
  color: rgb(140, 140, 140);
  margin-top: 20px;
}

.custom {
  width: 100%;
  background-color: #ec9d5f;
  padding: 50px;
  margin-top: 100px;
}
.custom h2,
.custom p {
  color: #fff;
}
.custom .btn-consultation {
  margin-top: 40px;
  color: black;
}
.custom .btn-consultation:hover {
  background-color: #6247ea;
  color: #fff;
}

.about-us .container {
  display: flex;
  margin: 100px auto;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}
.about-us .container .box-1 {
  padding: 25px 15px;
  width: 30%;
}
.about-us .container .box {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  padding: 50px 25px;
  transition: 0.3s ease-in-out;
  width: 30%;
}
.about-us .container .box:hover {
  background-color: #fff;
}
.about-us .container h2 {
  font-size: 40px;
}
.about-us .container p {
  margin-top: 30px;
}

.top-services {
  background-color: #6247ea;
  width: 100%;
  padding: 50px;
  margin-top: 100px;
}
.top-services h2,
.top-services p {
  color: #fff;
}
.top-services .grid-services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: 80px;
}
.top-services .grid-services .container-grid {
  border: 1px solid #fff;
  padding: 50px 30px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.top-services .grid-services .container-grid:hover {
  background-color: #fff;
}
.top-services .grid-services .container-grid:hover h3,
.top-services .grid-services .container-grid:hover p {
  color: #000;
}
.top-services .grid-services .container-grid h3 {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.top-services .grid-services .container-grid p {
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.posts {
  width: 100%;
  padding: 50px;
}
.posts .grid-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.posts .grid-posts .container-grid-posts {
  border: 1px solid rgb(230, 230, 230);
  padding: 50px 30px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.posts .grid-posts .container-grid-posts:hover {
  background-color: #fff;
}
.posts .grid-posts .container-grid-posts:hover a {
  color: #6247ea;
}
.posts .grid-posts .container-grid-posts h5 {
  background-color: #ec9d5f;
  padding: 10px 20px;
  border-radius: 5px;
  width: 125px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}
.posts .grid-posts .container-grid-posts a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.posts .grid-posts .container-grid-posts p {
  margin-top: 30px;
  color: rgb(140, 140, 140);
  line-height: 23px;
  font-size: 16px;
}
.posts .grid-posts .container-grid-posts .interactions {
  display: flex;
  color: rgb(180, 180, 180);
  margin-top: 30px;
  gap: 50px;
}
.posts .grid-posts .container-grid-posts .interactions span {
  font-size: 15px;
}
.posts .grid-posts .container-grid-posts .interactions span i {
  margin-right: 5px;
}
.posts .grid-posts .container-grid-posts .interactions span .fa-reply {
  transform: rotatey(180deg);
}

footer {
  width: 100%;
  background-color: #04091e;
  height: 60vh;
  color: #fff;
  padding-top: 100px;
  margin-top: 30px;
}
footer .flex-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
footer .container-div h2 {
  font-weight: normal;
  font-size: 21px;
}
footer .container-div ul {
  margin-top: 30px;
  list-style: none;
}
footer .container-div ul li {
  margin-top: 15px;
}
footer .container-div ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
footer .container-div p {
  margin-top: 30px;
  margin-bottom: 25px;
  color: rgb(140, 140, 140);
}
footer .container-div form {
  margin-top: 30px;
}
footer .container-div input {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
}
footer .container-div input[type=submit] {
  background-color: #6247ea;
  color: #fff;
  width: 150px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 1px solid #6247ea;
}
footer .container-div input[type=submit]:hover {
  background-color: black;
  border: 1px solid #6247ea;
  color: #6247ea;
}
footer .container-div input[type=email] {
  width: 350px;
  margin-right: 15px;
}
footer .container-div .instagram-feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
}
footer .container-div .instagram-feed img {
  width: 70px;
  object-fit: cover;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}
footer .copyright p {
  color: rgb(140, 140, 140);
}
footer .copyright p span {
  color: #6247ea;
}
footer .copyright p span a {
  text-decoration: none;
  color: #6247ea;
}
footer .copyright .container-icons {
  display: flex;
  gap: 15px;
}
footer .copyright .container-icons .icons {
  width: 30px;
  height: 30px;
  background-color: #1e2235;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: 0.4s ease-in-out;
}
footer .copyright .container-icons .icons:hover {
  background-color: #6247ea;
}

@media only screen and (max-width: 1160px) {
  .container {
    max-width: 800px;
  }
  .principal {
    padding-top: 0;
    height: 70vh;
  }
  .principal .container-text {
    margin: 0 auto;
    padding-top: 80px;
  }
  .principal .container-img {
    display: none;
  }
  footer {
    height: auto;
  }
}
@media only screen and (max-width: 1014px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .nav-bar {
    display: none;
  }
  .header #menu-hamb {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .container-text {
    text-align: center;
  }
  .about-us .container {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .about-us .container .box-1 {
    padding: 25px 15px;
    width: 100%;
  }
  .about-us .container .box {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 50px 25px;
    transition: 0.3s ease-in-out;
    width: 100%;
  }
  .about-us .container .box:hover {
    background-color: #fff;
  }
  .about-us .container h2 {
    font-size: 40px;
  }
  .about-us .container p {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 694px) {
  .header {
    height: 60px;
  }
  .header .container {
    padding-top: 5px;
  }
  .header .logo-img {
    max-width: 100px;
  }
  .principal {
    height: 60vh;
  }
  .principal .container {
    padding: 0;
  }
  .principal .container .container-text {
    padding: 0;
  }
  .custom {
    margin-top: 50px;
    padding: 5px 0;
  }
  .about-us .container {
    margin: 30px auto;
  }
  .top-services {
    margin-top: 50px;
    padding: 10px;
  }
  .top-services .text-features {
    margin: 50px auto;
  }
  .posts {
    padding: 0;
  }
  .posts .text-features {
    margin: 50px auto;
  }
  footer {
    padding-top: 50px;
  }
  footer .container {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  footer .flex-div {
    display: block;
    width: 100%;
  }
  footer .flex-div .container-div {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }
  footer .flex-div .container-div ul {
    margin: 0 auto;
    width: 200px;
    padding-left: 40px;
  }
  footer .flex-div .container-div ul li {
    text-align: left;
  }
  footer .flex-div .container-div .instagram-feed {
    width: 300px;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .copyright {
    display: block;
    margin-top: 20px;
  }
  footer .copyright .container-icons {
    width: 200px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media only screen and (max-width: 518px) {
  input[type=submit] {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
