$color-purple: #6247ea;
$font: "Arial";

%button {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: $color-purple;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: #fafcff;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 80px;
    margin: auto 0;
    position: fixed;
    background-color: #fafcff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    .logo-img {
        width: 100%;
        max-width: 150px;
        cursor: pointer;
        padding-top: 8px;
    }

    .nav-bar {
        ul {
            display: flex;
            list-style: none;
            gap: 40px;
        }

        .nav-item {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            transition: 0.3s;

            &:hover {
                color: $color-purple;
            }
        }
    }

    #menu-hamb {
        display: none;
    }

    #nav-bar-cel {
        text-align: center;
        background-color: #fafcff;
        padding: 10px 0;
        display: none;

        ul {
            list-style: none;

            li {
                margin-top: 15px;

                .nav-item-cel {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    transition: 0.3s;
                }
            }
        }
    }
}

.principal {
    width: 100%;
    height: 90vh;
    background-color: $color-purple;
    padding-top: 100px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 60px;
        flex-wrap: wrap;

        .container-text {
            margin-top: 100px;

            h2 {
                color: #fff;
                font-size: 35px;
                text-transform: uppercase;
            }

            p {
                color: #fff;
                margin-top: 20px;
                font-weight: 100px;
            }

            .btn {
                @extend %button;
                margin-top: 40px;
                background-color: #ec9d5f;
            }
        }

        .container-img {
            margin-top: 250px;
        }
    }
}

.features {
    margin-bottom: 100px;
}

.text-features {
    width: 100%;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;

    h2 {
        font-size: 40px;
    }

    p {
        margin-top: 20px;
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 280px));
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;

    .grid-container {
        border: 1px solid lightgray;
        padding: 60px 30px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #fff;
        }

        p {
            margin-top: 20px;
        }
    }
}

.grid-plans {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 303px));
    justify-content: center;

    .grid-container {
        border: 1px solid lightgray;
        border-top: 2px solid #fff;
        padding: 60px 30px;
        border-radius: 5px;
        background-color: #fff;

        p {
            margin-top: 10px;
            color: rgb(140, 140, 140);
        }

        &:hover {
            border-top: 2px solid $color-purple;

            span {
                color: $color-purple;
            }
        }

        .price {
            color: black;
            font-size: 30px;
            font-weight: bold;
        }

        .atributes {
            margin-top: 30px;
        }

        a {
            text-decoration: none;
            color: rgb(140, 140, 140);
            margin-top: 20px;
        }
    }
}

.custom {
    width: 100%;
    background-color: #ec9d5f;
    padding: 50px;
    margin-top: 100px;

    h2,
    p {
        color: #fff;
    }

    .btn-consultation {
        @extend %button;
        margin-top: 40px;
        color: black;

        &:hover {
            background-color: $color-purple;
            color: #fff;
        }
    }
}

.about-us {
    .container {
        display: flex;
        margin: 100px auto;
        gap: 40px;
        flex-wrap: wrap;
        width: 100%;

        .box-1 {
            padding: 25px 15px;
            width: 30%;
        }

        .box {
            border: 1px solid rgb(230, 230, 230);
            border-radius: 5px;
            padding: 50px 25px;
            transition: 0.3s ease-in-out;
            width: 30%;

            &:hover {
                background-color: #fff;
            }
        }

        h2 {
            font-size: 40px;
        }

        p {
            margin-top: 30px;
        }
    }
}

.top-services {
    background-color: $color-purple;
    width: 100%;
    padding: 50px;
    margin-top: 100px;

    h2,
    p {
        color: #fff;
    }

    .grid-services {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
        justify-content: center;
        row-gap: 30px;
        column-gap: 30px;
        margin-bottom: 80px;

        .container-grid {
            border: 1px solid #fff;
            padding: 50px 30px;
            border-radius: 5px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #fff;

                h3,
                p {
                    color: #000;
                }
            }

            h3 {
                color: #fff;
                transition: 0.3s ease-in-out;
            }

            p {
                margin-top: 20px;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

.posts {
    width: 100%;
    padding: 50px;

    .grid-posts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
        width: 100%;
        justify-content: center;
        gap: 30px;

        .container-grid-posts {
            border: 1px solid rgb(230, 230, 230);
            padding: 50px 30px;
            border-radius: 5px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #fff;

                a {
                    color: $color-purple;
                }
            }

            h5 {
                background-color: #ec9d5f;
                padding: 10px 20px;
                border-radius: 5px;
                width: 125px;
                margin-bottom: 30px;
                color: #fff;
                font-weight: normal;
                font-size: 12px;
            }

            a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
                font-size: 18px;
                transition: 0.3s ease-in-out;
            }

            p {
                margin-top: 30px;
                color: rgb(140, 140, 140);
                line-height: 23px;
                font-size: 16px
            }

            .interactions {
                display: flex;
                color: rgb(180, 180, 180);
                margin-top: 30px;
                gap: 50px;

                span {
                    font-size: 15px;

                    i {
                        margin-right: 5px;
                    }

                    .fa-reply {
                        transform: rotatey(180deg);
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #04091e;
    height: 60vh;
    color: #fff;
    padding-top: 100px;
    margin-top: 30px;

    .flex-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .container-div {


        h2 {
            font-weight: normal;
            font-size: 21px;
        }

        ul {
            margin-top: 30px;
            list-style: none;

            li {
                margin-top: 15px;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        p {
            margin-top: 30px;
            margin-bottom: 25px;
            color: rgb(140, 140, 140);
        }

        form {
            margin-top: 30px;
        }

        input {
            padding: 10px 20px;
            border-radius: 30px;
            border: none;
            outline: none;

            &[type="submit"] {
                background-color: $color-purple;
                color: #fff;
                width: 150px;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                border: 1px solid $color-purple;

                &:hover {
                    background-color: black;
                    border: 1px solid $color-purple;
                    color: $color-purple;
                }
            }

            &[type="email"] {
                width: 350px;
                margin-right: 15px;
            }
        }

        .instagram-feed {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            margin-top: 30px;

            img {
                width: 70px;
                object-fit: cover;
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        align-items: center;

        p {
            color: rgb(140, 140, 140);

            span {
                color: $color-purple;

                a {
                    text-decoration: none;
                    color: $color-purple;
                }
            }
        }

        .container-icons {
            display: flex;
            gap: 15px;

            .icons {
                width: 30px;
                height: 30px;
                background-color: #1e2235;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #fff;
                transition: 0.4s ease-in-out;

                &:hover {
                    background-color: $color-purple;
                }
            }
        }
    }
}

@media only screen and (max-width: 1160px) {
    .container {
        max-width: 800px;
    }

    .principal {
        padding-top: 0;
        height: 70vh;

        .container-text {
            margin: 0 auto;
            padding-top: 80px;
        }

        .container-img {
            display: none;
        }
    }

    footer {
        height: auto;
    }
}

@media only screen and (max-width: 1014px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .nav-bar {
            display: none;
        }

        #menu-hamb {
            display: block;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .container-text {
        text-align: center;
    }

    .about-us {
        .container {
            display: block;
            margin: 100px auto;
            width: 100%;
            text-align: center;

            .box-1 {
                padding: 25px 15px;
                width: 100%;
            }

            .box {
                border: 1px solid rgb(230, 230, 230);
                border-radius: 5px;
                padding: 50px 25px;
                transition: 0.3s ease-in-out;
                width: 100%;

                &:hover {
                    background-color: #fff;
                }
            }

            h2 {
                font-size: 40px;
            }

            p {
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (max-width: 694px) {
    .header {
        height: 60px;

        .container {
            padding-top: 5px;
        }

        .logo-img {
            max-width: 100px;
        }
    }

    .principal{
        height: 60vh;

        .container{
            padding: 0;

            .container-text{
                padding: 0;
            }
        }
    }

    .custom{
        margin-top: 50px;
        padding: 5px 0;
    }

    .about-us{

        .container{
            margin: 30px auto;
        }
    }

    .top-services{
        margin-top: 50px;
        padding: 10px;

        .text-features{
            margin: 50px auto;
        }
    }

    .posts{
        padding: 0;

        .text-features{
            margin: 50px auto;
        }
    }

    footer {
        padding-top: 50px;

        .container {
            margin: 0 auto;
            width: 100%;
            padding: 0;
            text-align: center;
        }

        .flex-div {
            display: block;
            width: 100%;

            .container-div {
                width: 100%;
                display: block;
                margin-bottom: 40px;

                ul {
                    margin: 0 auto;
                    width: 200px;
                    padding-left: 40px;

                    li {
                        text-align: left;
                    }
                }

                .instagram-feed {
                    width: 300px;
                    justify-content: center;
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .copyright {
            display: block;
            margin-top: 20px;

            .container-icons {
                width: 200px;
                padding-left: 20px;
                padding-bottom: 30px;
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 518px) {
    input[type="submit"] {
        margin-top: 20px;
    }
}