.principal .container .principal-text button, .header .container .btn-header {
  background: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  width: 180px;
  height: 50px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .nav-menu {
  display: flex;
  list-style: none;
  gap: 50px;
}
.header .container .nav-menu .nav-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.header .container .btn-header a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.header .container .btn-header a i {
  transform: rotate(-45deg);
  font-size: 13px;
  margin-right: 5px;
}

.principal {
  background-image: url(../assets/bg-principal.webp);
  width: 100%;
}
.principal .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.principal .container .principal-text span {
  color: #f44949;
  font-size: 20px;
}
.principal .container .principal-text h1 {
  color: #fff;
  font-size: 60px;
  font-weight: normal;
  margin: 30px 0;
}
.about {
  margin: 100px 0;
  width: 100%;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}
.about .container .about-text {
  margin-top: 50px;
}
.about .container .about-text h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.about .container .about-text p {
  margin-bottom: 30px;
  line-height: 30px;
  color: rgb(80, 80, 80);
}
.about .container .about-text ul {
  list-style-type: none;
  line-height: 30px;
  margin-bottom: 30px;
}
.about .container .about-text ul li {
  color: rgb(80, 80, 80);
}
.about .container .about-text ul li i {
  margin-right: 5px;
  color: #f44949;
}
.about .container .about-text span {
  border-bottom: 2px solid #f44949;
}
.about .container .about-text span a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.speaking {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.speaking h2 {
  font-size: 45px;
  margin-bottom: 15px;
}
.speaking p {
  color: rgb(80, 80, 80);
  margin-bottom: 60px;
}
.speaking .container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 20%));
}
.speaking .container-grid img {
  object-fit: cover;
  width: 100%;
}

.schedule {
  width: 100%;
  text-align: center;
}
.schedule h2 {
  font-size: 45px;
  margin-bottom: 15px;
}
.schedule p:first-child {
  color: rgb(80, 80, 80);
  margin-bottom: 60px;
}
.schedule .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 20%));
  justify-content: center;
  width: 100%;
  margin: 80px 0;
  box-shadow: 5px 5px 20px rgb(200, 200, 200);
}
.schedule .grid div {
  border-right: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.schedule .grid div:hover {
  background-color: #fff;
}
.schedule .grid div:first-of-type {
  background: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
}
.schedule .grid div:last-of-type {
  border: none;
}
.schedule .container-card {
  border: 1px solid rgb(200, 200, 200);
  padding: 40px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: left;
  transition: 0.3s ease-in-out;
}
.schedule .container-card img {
  border-radius: 50%;
}
.schedule .container-card p {
  margin-bottom: 0;
  color: #000;
}
.schedule .container-card i {
  color: #f44949;
  margin-right: 0.5rem;
}
.schedule .container-card i:nth-of-type(2) {
  margin-left: 1rem;
}
.schedule .container-card:hover {
  box-shadow: 10px 10px 20px rgb(200, 200, 200);
  background-color: #fff;
  cursor: pointer;
}

.price {
  width: 100%;
  background-image: url(../assets/bg-price.webp);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  margin-top: 6rem;
  text-align: center;
}
.price h2,
.price p {
  color: #fff;
}
.price h2 {
  font-size: 2.5rem;
}
.price p {
  color: rgb(150, 150, 150);
}
.price .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.price .container h3 {
  text-transform: uppercase;
}
.price .container .container-small,
.price .container .container-big {
  background-color: #fff;
  padding: 3rem 0;
  width: 28%;
  position: relative;
  border-radius: 5px;
}
.price .container .container-small a,
.price .container .container-big a {
  position: absolute;
  bottom: -19px;
  right: 55px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 10px 70px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgb(80, 80, 80);
}
.price .container .container-small a i,
.price .container .container-big a i {
  color: #f44949;
  margin-left: 10px;
}
.price .container .container-small a:hover,
.price .container .container-big a:hover {
  background: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  color: #fff;
  transition: 0.3s;
}
.price .container .container-small a:hover i,
.price .container .container-big a:hover i {
  color: #fff;
  transition: 0.3s;
}
.price .container .container-small .colored,
.price .container .container-big .colored {
  background: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.price .container .container-small .colored span,
.price .container .container-big .colored span {
  font-size: 2rem;
  vertical-align: top;
}
.price .container .container-small p:not(.collored),
.price .container .container-big p:not(.collored) {
  line-height: 2.5rem;
}

.news {
  width: 100%;
  padding: 5rem 0;
  margin-bottom: 7rem;
}
.news h2 {
  font-size: 2.5rem;
}
.news p {
  color: rgb(120, 120, 120);
}
.news .grid {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-areas: "item-1 item-2" "item-1 item-3";
}
.news .grid .item-1 {
  grid-area: item-1;
  background-image: url(../assets/latest-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
}
.news .grid .item-2 {
  grid-area: item-2;
  background-image: url(../assets/latest-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.news .grid .item-2 div h3 {
  font-size: 1rem;
}
.news .grid .item-3 {
  grid-area: item-3;
  background-image: url(../assets/latest-3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.news .grid .item-3 div h3 {
  font-size: 1rem;
}
.news .grid .item-1,
.news .grid .item-2,
.news .grid .item-3 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}
.news .grid .item-1 h5,
.news .grid .item-2 h5,
.news .grid .item-3 h5 {
  background: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.news .grid .item-1 div h3,
.news .grid .item-2 div h3,
.news .grid .item-3 div h3 {
  line-height: 2rem;
}
.news .grid .item-1 div h3:hover,
.news .grid .item-2 div h3:hover,
.news .grid .item-3 div h3:hover {
  cursor: pointer;
}
.news .grid .item-1 div p,
.news .grid .item-2 div p,
.news .grid .item-3 div p {
  font-size: 14px;
  font-weight: bold;
}
.news .grid .item-1 div p i,
.news .grid .item-2 div p i,
.news .grid .item-3 div p i {
  color: #f44949;
  margin-right: 5px;
}
.news .grid .item-1 p,
.news .grid .item-2 p,
.news .grid .item-3 p {
  color: #fff;
}

.location {
  background-color: #fff;
  padding: 6rem 0;
}
.location .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.location .container div h2 {
  font-size: 2.5rem;
}
.location .container div p {
  color: rgb(120, 120, 120);
}
.location .container div span {
  display: block;
}
.location .container div iframe {
  width: 35rem;
  box-shadow: 1rem 1rem 3rem rgb(150, 150, 150);
}
.location .container div .infos {
  display: flex;
  gap: 2.5rem;
}

footer {
  background-color: #171822;
  width: 100%;
  padding: 5rem 0;
  color: rgb(120, 120, 120);
}
footer .container {
  text-align: center;
}
footer .container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
footer .container div a {
  text-decoration: none;
  color: rgb(120, 120, 120);
}
footer .container .icons {
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 1px solid rgb(150, 150, 150);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
